* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #001e4d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0;
}

h1 {
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.question {
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.option-btn {
  margin: 0.5rem 0;
  padding: 0.7rem 1.2rem;
  background: #fff;
  color: #222;
  width: 100%;
  border: 1px solid #222;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
}

.option-btn:hover {
  background: #222;
  color: #fff;
}
.last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

#count {
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

#next-btn {
  padding: 0.7rem 1.2rem;
  background-color: rgb(255, 186, 58);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#next-btn:hover {
  background-color: orange;
}

#reset {
  padding: 0.7rem 1.2rem;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s;
  text-align: center;
  display: none;
}

#result {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
}
